<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list student</title>

    <style>
        .even {
            color:red;
        }

    </style>
</head>
<body>
<h3>{{ msg }}</h3>
<ul>
    {% for stu in students %}
        {% if forloop.counter0 == 1 %} {# counter0 start index 0, counter start 1 #}
            <p>say hi {{ stu.name.upper }}</p>
        {% elif forloop.counter0 == 2 %}
            <p>say hi {{ stu.name.lower }}</p>
        {% else %}
        {% endif %}

        <li class="{% cycle 'even' '' %}">{{ stu.id }} {{ stu.name }} {{ stu.house.name }}
            <a href="{% url 'hogwarts:info' stu.id %}">More info</a></li>
    {% endfor %}

</ul>

{{ students.2.house.name}}
{{ request.session.students.1 }}
{% include 'base_js.html' %}
</body>

</html>